.*
!.gitignore

*~
\#*#

autom4te.cache/
m4/

*.la
*.lo
*.o
*.pc

ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
stepper
