Source: libbbmotor
Priority: optional
Maintainer: Benedikt Spranger <b.spranger@linutronix.de>
Build-Depends: debhelper (>= 12.0.0), autoconf-archive, libgpiod-dev, pkg-config
Standards-Version: 4.4.1
Rules-Requires-Root: no
Homepage: https://github.com/eurovibes/libbbmotor
Vcs-Git: https://github.com/eurovibes/libbbmotor.git
Vcs-browser: https://github.com/eurovibes/libbbmotor
Section: libs

Package: libbbmotor-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Depends: libbbmotor1 (= ${binary:Version}), ${misc:Depends}
Description: Seeed BeagleBone motor bride cape access library
 The Motor Bridge Cape features bi-directional motor control using two
 TB6612FNG integrated dual H-bridge, so it can control two stepper motors or
 four brushed DC motors with 6~15V DC power and about 1A current draw per
 motor. The cape provides 5V regulated power to SeeedStudio BeagleBone Green
 or BeagleBone Black with a max input voltage of 15V. It also has six servo
 control interface and six expand IO. All the features are provided by the on
 board STM32F0 coprocessor. The coprocessor can communicate with BeagleBone
 by I2C or UART interface.
 .
 libbbmotor provides a C API for a convenient access and handling.
 (Development files)

Package: libbbmotor1
Multi-Arch: same
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Seeed Beaglebone motor bridge cape access library
 The Motor Bridge Cape features bi-directional motor control using two
 TB6612FNG integrated dual H-bridge, so it can control two stepper motors or
 four brushed DC motors with 6~15V DC power and about 1A current draw per
 motor. The cape provides 5V regulated power to SeeedStudio BeagleBone Green
 or BeagleBone Black with a max input voltage of 15V. It also has six servo
 control interface and six expand IO. All the features are provided by the on
 board STM32F0 coprocessor. The coprocessor can communicate with BeagleBone
 by I2C or UART interface.
 .
 libbbmotor provides a C API for a convenient access and handling.

Package: stepper
Section: utils
Multi-Arch: foreign
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Seeed Beaglebone motor bridge cape access library usage example
 The small example application stepper is using the libbbmotor library.
 The application moves two stepper motors around like the sweep hand of an
 analog clock.
